body{
    margin: 0 15%;
    box-shadow: 0 0 50px;
}
/* Header */

header nav{
    background-color: black;
    display: flex;
    align-items: center;
    padding: 10px;
}
header .logo{
    flex: 1;
}
header ul {
    flex: 1;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
header ul a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}
header ul span {
    margin-top: 13px;
    font-size: 10px;
}
/* Banner */
header>div img {
    width: 100%;
}
/* Section Intro */
.intro{
    display: flex;
    padding: 50px;
}
.intro>div:first-of-type{
    flex: 2;
    text-align: end;
    margin: 0 12% 0 0;
}
.intro>div:last-child{
    flex: 4;
}
/* Section Pack et outils */
section:nth-of-type(2){
    background-color:#334d5c ;
    color: white;
}
section:nth-of-type(3){
    background-color:white ;
    color: black;
}
.sc .row{
    display: flex;
}
.sc .row .imgTitre{
    flex: 2;
    text-align: end;
    margin: 50px 35px 0 0;

}
.sc .row .zoneTexte{
    flex: 4;  
    margin: 60px 0 0 70px ;

}
.sc .row .zoneTexte h1{
    font-size: 40px
}
.sc .row .zoneTexte span{
    font-size: 30px;
    font-weight: 400;
}
.sc .choix{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 30px;
}
.sc .choix div{
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.sc .choix h1{
    font-size: 30px;
}
.sc .choix button{
    width: 100%;
    padding: 15px;
}
.sc .resize{
    height: 200px;
}
.sc .resize+p+button{
    background-color: black;
    color: white;
    border: none;
}

/* Footer */
footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 40px;
    position: relative;
}
footer .contenu .icones{
    display: flex;
    justify-content: center;
    
}
footer img{
    width: 55px; height: 55px;
    margin-right: 20px;
    
}

footer span{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/* TEL */
@media screen and (max-width:620px) {
    body{
        margin: 0 5%;
    }
    header ul {
        display: none;
    }
    .intro,
    .sc .row{
        flex-direction: column;
    }
    .sc .choix div{
        width: 100%;
    }
    .sc .choix button{
        width: auto;
    }
    .sc .row .zoneTexte, .sc .row .imgTitre{
        margin: 15px auto;
        text-align: center;
    }
    footer{
        flex-direction: column;
    }
}
/* TABLETTE */
@media screen and (min-width:620px) and (max-width:1024px) {
    body{
        margin: 0 10%;
    }
    header nav{
        flex-direction: column;
    }
    .intro,
    .sc .row{
        flex-direction: column;
    }
    .intro>div:first-of-type{
        margin: auto;
    }
    .sc .row .zoneTexte, .sc .row .imgTitre{
        margin: 15px auto;
        text-align: center;
    }
    .sc .choix div{
        width: 48%;
    }
    .sc .choix button{
        width: auto;
    }
}